<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--    https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#example-config-file-->
    <config>
        <clear/>
        <!--
            Used to specify the default location to expand packages.
            See: nuget.exe help install
            See: nuget.exe help update
        -->
        <add key="globalPackagesFolder" value="{packages_folder}"/>
    </config>

    <packageRestore>
        <clear/>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="{restore_enabled}"/>

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="False"/>
    </packageRestore>

    <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
    <packageSources>
        <clear/>
        {package_sources}
    </packageSources>

    <fallbackPackageFolders>
        <clear/>
    </fallbackPackageFolders>
</configuration>