name: release
on:
  # manual only
  workflow_dispatch:

env:
  BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

jobs:
  release:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: CI Init
        run: .ci/init.sh

      - name: Verify
        run: bash eng/test_release.sh

      - name: Commit
        run: |
          git config user.name "GitHub Actions"
          git config user.email ""
          git checkout -b release
          git add .
          git update-index --assume-unchanged .bazelrc
          git commit -m "release"
          git push --set-upstream origin release

      - name: Release
        run: |
          bazel run //eng/release